<section id="servicos" class="imagem">
  <div class="container">
    <div class="row ">
      <div class="col-12 servicos">
        <h1>Redes real serviços</h1>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-sm-4 align-items-center">
        <div class="container">
          <div class="card-body">
            <h3>Redes de Proteção para Piscinas</h3>
            <img src="/assets/img/ppp.jpg" alt="piscinas" class="rounded-circle imgServ">
            <a class="btn btnS btn-lg">VER MAIS</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          <div class="card-body">
            <h3>Redes de Proteção para Sacadas</h3>
            <img src="/assets/img/pps.jpg" alt="sacadas" class="rounded-circle imgServ">
            <a class="btn btnS btn-lg" >VER MAIS</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          <div class="card-body">
            <h3>Redes de Proteção para Escadas</h3>
            <img src="/assets/img/ppe.jpg" alt="escadas" class="rounded-circle imgServ">
            <a class=" btn btnS btn-lg">VER MAIS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
