.imagem {
  background-image: url("src/assets/img/bgservicos.jpg");
}
.imgServ{
  width: 255px;
  height: 255px;
  align-items: center;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container h3{
  text-align: center;
}
.servicos{
  text-align: center;
  margin: 5px;
}
.servicos h1{
  font-size: 50px;
  color: #A98D1A;
}
.servicos h3{
  font-size: 20px;
  color: #000000;
  margin: 20px 0  10px;
  text-align: center;
  font-family: 'Russo One', sans-serif;
}
.container a:hover{
  background-color: #FBD638;

}
.btn{
  margin: 30px 0 20px 0;
  padding: 8px;
  width: 250px;
  height: 40px;
  position: relative;
  transition: all 1s;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #F9DE6B;
  color: #000000;
}
.btn-btn{
  background-color: #F9DE6B;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}
.btnS{
  color: #000000;
  background-color: #E7E5D6;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}
.post{
  width: 255px;
  height: 255px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}
.post img{
  display: block;
  align-items: center;
}
.post-s{
  border-radius: 50%;
  width: 0;
  height: 255px;
  background-color: #FBD638;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /*transition: all 1s;*/
}
.post-s img{
  width: 50px;
  height: 75px;
}
.post:hover .post-s{
  width: 255px;
}
