<section id="contatos">
  <div class="nous-contacter">
    <div class="contato-filter">
      <div class="formulario-direita">
        <div class="form-contact container">
          <h2>ESTAMOS ESPERANDO O SEU CONTATO</h2>
          <p>Deixe sua dúvida ou mensagem.</p>
          <form class="form-contact container" data-toggle="validators" role="form" method="post">
            <div class="form-group">
              <label for="nome"  class="form-control" ></label>
              <input type="text" class="form-control" id="nome" placeholder="Seu Nome">
            </div>
            <div class="form-group">
              <label for="emails"  class="form-control" ></label>
              <input type="text" class="form-control" id="emails" placeholder="Seu Email">
            </div>
            <div class="form-group">
              <label for="mensagem"  class="form-control" ></label>
              <textarea class="form-control" id="mensagem" placeholder="Sua Mensagem"></textarea>
            </div>
            <a class="btn btn-btn" type="button">ENVIAR !</a>
          </form>
          <div class="oculto"></div>
        </div>
      </div>
      <div class="formulario-esquerda">
        <div class="icone-contato">
          <div align="center">
            <h2> ENTRE EM CONTATO !</h2>
            <p>
              Atendimento 24hrs, atendemos toda grande São Paulo, litoral e interior.
            </p>
          </div>
          <div class="contato">
            <img src="/assets/svg/phone.svg" alt="phone number">
            <p>(11)963416601</p>
            <p>(11)4155760 / (11)97724-1689</p>
          </div>
          <div class="contato">
            <img src="assets/svg/letter.svg" alt="email">
            <p>redesreal2.0@outlook.com</p>
          </div>
          <div class="contato">
            <img src="assets/svg/local.svg" alt="Local">
            <p> São Paulo - SP</p>
          </div>
          <div class="contato">
            <a href="https://www.facebook.com/redes.real.75">
              <img src="assets/svg/icone-fb.svg" alt="Facebook">
            </a>
            <a href="https://api.whatsapp.com/send?phone=5511963416601&text=Ol%C3%A1,%20quero%20fazer%20um%20or%C3%A7amento#">
              <img src="assets/svg/icone-whats.svg" alt="Whats App">
            </a>
            <a href="https://instagram.com/redesreal?igshid=1j31g3aqxyeqi">
              <img src="assets/svg/icone-insta.svg" alt="Instagram">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
