<app-menu></app-menu>
<app-home></app-home>
<app-servicos></app-servicos>
<app-empresa></app-empresa>
<app-contatos></app-contatos>
<footer id="footer">
  <div class="container">
    <div class="itens-footer">
      <div>
        <img src="/assets/img/img-footer-5.png" alt="footer">
      </div>
      <div>
        <h3><b>QUALIDADE E GARANTIA</b></h3>
        <p>Todas as redes e telas de proteção que trabalhamos seguem as normas do
        <b>INMETRON</b>,
        <b>ISO 9002</b> e
        <b>Instituto Falcão Bauer</b>.</p>
      </div>
      <div class="garantia">
        <div>
          <img src="/assets/svg/icone-inmetro.png" alt="icon inmetro">
        </div>
        <div>
          <img src="/assets/svg/icone-bauer.png" alt="icon bauer">
        </div>
        <div>
          <img src="/assets/svg/icone-iso.png" alt="icon iso">
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <h3> @Copyright 2018 | Todos os direitos reservados | desenvolvido por </h3>
    <a href="https://www.facebook.com/DevNiDeveloppeur" target="_blank">
      KEVYN LIMA
    </a>
    e
    <a href="http://haagsma.com.br" target="_blank">HIT - Haagsma Innovation Technology.</a>
  </div>
</footer>
