<section id="home">
  <div class="header">
    <div class="home">
      <div class="title-home">
        <h2 class="container">Esta Precisando de Redes de Proteçao?</h2>
        <p class="container">Redes Real tem a soluçao, para sua segurança de toda sua familia!</p>
        <div class="botao-contato">
          <a type="button" href="#contatos" class="btn"> ENTRE EM CONTATO AGORA !</a>
        </div>
      </div>
      <div id="carousel" class="carousel slide carousel-fade " data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/logo.jpg" class="d-block w-100" alt="background">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/back1.jpg" class="d-block w-100" alt="background">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/back2.jpg" class="d-block w-100" alt="background">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/back3.jpg" class="d-block w-100" alt="background">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/back4.jpg" class="d-block w-100" alt="background">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
